* {
    box-sizing: border-box;
  }

  body {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    color: white;
     
  }
  
  html { 
    background-image: url('https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60'); 
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  } 
  h1 {
    font-size: 3.5em;
    text-shadow: 0 8px 8px black;
    text-align: center;
    
  }

  h2 {
    font-size: 1.8em;
    text-shadow: 0 5px 5px black;
    text-align: center;
    margin-top: 10%;
   
  }

  h2:hover {
    color: #00d800;
    cursor: pointer;
  }
  

  #js-form {
    text-align: center;
    font-size: 1.5em;
  }

  .label {
    text-shadow: 0 5px 5px black;
  }


  #js-form select {
    width: 12rem;
    height: 2rem;
    margin-top: .5rem; 
   
  }

  #js-form input{
    width: 9rem;
    height: 2rem;
    margin-top:0.5rem; 
  }

 
  .js-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
    
  .hidden {
    display: none;
  }

  div {
    display: block;
}

@media only screen and (max-width: 380px) {

  h1 {
    font-size: 2.5rem;
    text-shadow: 0 4px 4px black;
  }

  h2 {
    font-size: 1.5em;
    text-shadow: 0 3px 3px black;
    margin-top: 10%; 
  }

 
}

@media only screen and (max-width: 1030px) and (min-width: 385px){

  h1 {
    font-size: 2.8rem;
    text-shadow: 0 4px 4px black;
  }

  h2 {
    font-size: 1.5em;
    text-shadow: 0 3px 3px black;
  }
  

}
